<div class="header-box" >
  <img class="header-logo" src="/assets/hero/logo56.png" routerLink="/"alt="Luxury Travel Logo">
  <div class="header-right">
    <app-navbar></app-navbar>
    <nav class="header__menu" [ngClass]="{'nav-active': isNavActive}">
      <ul class="menu__list">
        <li class="dropdown-nav">
          <a href="javascript:void(0)">Holiday Packages</a>
          <ul class="dropdown-content-nav">
            @for (item of holidayPackages; track item.name) {
              <li><a [routerLink]="item.route">{{ item.name }} </a></li>
            }
          </ul>
        </li>
        <li class="dropdown-nav">
          <a href="javascript:void(0)">Group Packages</a>
          <ul class="dropdown-content-nav">
            @for (item of groupPackages; track item.name) {
              <li><a [routerLink]="item.route">{{ item.name }} </a></li>
            }
          </ul>
        </li>
        <li class="dropdown-nav">
          <a href="javascript:void(0)">Destinations </a>
          <ul class="dropdown-content-nav">
            @for (item of destinations; track item.name) {
              <li><a [routerLink]="item.route">{{ item.name }} </a></li>
            }
          </ul>
        </li>
        <li class="dropdown-nav">
          <a href="javascript:void(0)">Deals & offers</a>
          <ul class="dropdown-content-nav">
            @for (item of dealsOffers; track item.name) {
              <li><a [routerLink]="item.route">{{ item.name }} </a></li>
            }
          </ul>
        </li>
      </ul>
      <div class="header__button">
        <button class="custom-btn" (click)="customizeHoliday()" routerLink="/itinerary">Customize My Holiday</button>
      </div>
    </nav>
  </div>
</div>