<section class="header" style="background-image: url(assets/images/header-bg.jpg);">
    <div class="top__text _anim-items" [@textAnimation]="textState">explore the world</div>
    <div>
      <h1 class="_anim-items" [@h1Animation]="h1State">Find Your</h1>
      <img class="top__img" src="/sunflowertrip/public/assets/images/header-bg-1.png" alt="">
      <div class="romb"></div>
      <div class="romb-left"></div>
      <div class="romb-right"></div>
      <div class="romb-topl"></div>
      <div class="romb-topr"></div>
      <h2 class="_anim-items" [@h2Animation]="h2State">luxury spot</h2>
    </div>
    <img class="top__img-bottom" src="/sunflowertrip/public/assets/images/header-bg-2.png" alt="">
  </section>