<section class="header-above-only">
    <app-header></app-header>
    
    <div class="top__text" appAnimation>explore the world</div>
    <div>
      <h1 appAnimation>Find Your</h1>
      <img class="top__img" src="/assets/images/header-bg-1.png" alt="Background Image">
      <div class="romb"></div>
      <div class="romb-left"></div>
      <div class="romb-right"></div>
      <div class="romb-topl"></div>
      <div class="romb-topr"></div>
      <h2 appAnimation>luxury spot</h2>
    </div>
    <img class="top__img-bottom" src="/sunflowertrip/public/assets/images/header-bg-2.png" alt="Bottom Background Image">
  </section>
  
  <app-product-slider></app-product-slider>