<div class="tours-page">
  <ng-container *ngIf="loading">
    <p>Loading tours…</p>
  </ng-container>

  <ng-container *ngIf="!loading && error">
    <p class="error">{{ error }}</p>
  </ng-container>

  <ng-container *ngIf="!loading && !error">
    <div *ngIf="tours.length; else noTours">
      <div class="tour-card" *ngFor="let t of tours">
        <img [src]="t.image_url" alt="{{ t.title }}">
        <h3>{{ t.title }}</h3>
        <p>{{ t.duration_days }} days • ₹{{ t.price }}</p>
        <a [routerLink]="['/tour', t.slug]" class="btn-explore">Book now</a>
      </div>
    </div>
    <ng-template #noTours>
      <p>No tours found.</p>
    </ng-template>
  </ng-container>
</div>
<app-footer></app-footer>