<!-- header.component.html -->
<div class="header-box">
  <app-navbar></app-navbar>

  <!-- Mobile Menu Toggle -->
  <div class="burger-icon" (click)="toggleMobileMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <!-- Desktop Nav -->
  <div class="header-right">
    <nav class="header__menu">
      <ul class="menu__list">
        <!-- Destinations Dropdown -->
        <li class="dropdown-nav">
          <a href="javascript:void(0)">{{ destinationGroup.label }}</a>
          <ul class="dropdown-content-nav destinations-dropdown">
            <ng-container *ngFor="let destination of destinationGroup.destinations">
              <li class="destination-item" [class.has-locations]="destination.locations.length > 0">
                <a [routerLink]="destination.route" [queryParams]="destination.queryParams" class="destination-link">
                  {{ destination.name }}
                  <span class="arrow-indicator" *ngIf="destination.locations.length > 0">→</span>
                </a>
                <ul class="location-submenu" *ngIf="destination.locations.length > 0">
                  <li *ngFor="let location of destination.locations">
                    <a [routerLink]="location.route" [queryParams]="location.queryParams" class="location-link">
                      {{ location.name }}
                    </a>
                  </li>
                </ul>
              </li>
            </ng-container>
          </ul>
        </li>

        <!-- Package Groups -->
        <ng-container *ngFor="let group of navGroups">
          <li>
            <button class="custom-btn nav-btn" [routerLink]="group.items[0].route" [queryParams]="group.items[0].queryParams">
              {{ group.label }}
            </button>
          </li>
        </ng-container>
      </ul>
      <div class="header__button">
        <button class="custom-btn" (click)="customizeHoliday()" routerLink="/itinerary">Customize My Holiday</button>
      </div>
    </nav>
  </div>

  <!-- Mobile Sidebar -->
  <div class="mobile-sidebar" [class.open]="isMobileMenuOpen">
    <div class="close-btn" (click)="toggleMobileMenu()">×</div>
    <ul class="mobile-menu">
      <!-- Mobile Destinations -->
      <li class="dropdown-mobile">
        <div (click)="toggleDropdown($event)" class="mobile-group-label">
          {{ destinationGroup.label }}
        </div>
        <ul class="mobile-submenu">
          <ng-container *ngFor="let destination of destinationGroup.destinations">
            <li class="mobile-destination-item">
              <div class="mobile-destination-header" (click)="toggleDestinationLocations($event)">
                <a [routerLink]="destination.route" [queryParams]="destination.queryParams" (click)="toggleMobileMenu()" class="mobile-destination-link">
                  {{ destination.name }}
                </a>
                <span class="mobile-arrow" *ngIf="destination.locations.length > 0">▼</span>
              </div>
              <ul class="mobile-location-list" *ngIf="destination.locations.length > 0">
                <li *ngFor="let location of destination.locations">
                  <a [routerLink]="location.route" [queryParams]="location.queryParams" (click)="toggleMobileMenu()" class="mobile-location-link">
                    {{ location.name }}
                  </a>
                </li>
              </ul>
            </li>
          </ng-container>
        </ul>
      </li>

      <!-- Mobile Package Groups -->
      <ng-container *ngFor="let group of navGroups">
        <li>
          <button class="custom-btn nav-btn" [routerLink]="group.items[0].route" [queryParams]="group.items[0].queryParams" (click)="toggleMobileMenu()">
            {{ group.label }}
          </button>
        </li>
      </ng-container>

      <li>
        <button class="custom-btn" (click)="customizeHoliday(); toggleMobileMenu()" routerLink="/itinerary">Customize My Holiday</button>
      </li>
    </ul>
  </div>
</div>