.map{
    // background-color: linear-gradient(135deg, #009688, #b2dfdb);
    background: linear-gradient( #4db6ac,#b2dfdb);

    padding-bottom: 80px;
  }
  
  .map-container {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  
    iframe {
      display: block;
    }
  }